.iconholder {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.8rem;
  line-height: 1em;
  gap:1rem;
  .icon {
    text-align: center;
    width: 4.5rem;
    i {
      font-size: 3.5rem;
    }
    svg, img {
      height: 3.5rem;
      width: 3.5rem;
    }
    p {
      margin-top: 1em;
    }
  }
}