$primary: #3e7eb9;
$secondary: #d14d00;
$accent: #bcceff;
// $primary: #be6836;
// $secondary: #aa1919;
// $accent: #ff893a;
$light: #e1e2e2;

$margin: 1.5rem;

@import "bootstrap/scss/bootstrap";

body {
  background: linear-gradient(
    90deg,
    lighten(desaturate($primary, 60%), 55%),
    lighten(desaturate($primary, 60%), 45%),
    lighten(desaturate($primary, 60%), 55%)
  );
}
#leftcol,
#rightcol {
  background-color: white;
}

abbr {
  text-underline-offset: 2px;
}

strong {
  font-weight: 500;
  color: $secondary;
}

p + h1 {
  margin-top: 2rem;
}

h1 + :not(p) {
  margin-top: 1rem;
}

.bg-primary,
.bg-secondary {
  strong {
    color: $accent;
  }
}

.w-30 {
  width: 30%;
}

.float-left {
  float: left;
  margin: 0 1rem;
  margin-left: $margin;
}
.float-right {
  float: right;
  margin: 0 1rem;
  margin-right: $margin;
}

#fixedBottomButton {
  font-size: 0.9rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  img {
    max-height: 0.8em;
    vertical-align: baseline;
  }
}

#leftcol {
  border-right: 1px solid $gray-400;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
}

.hide-md {
  display: none;
}

#collapse-list {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  ul {
    margin-bottom: 0;
  }
}

.navbar {
  border-bottom: 1px solid $gray-400;
  background: linear-gradient(90deg, white, darken($light, 4%));
  background-size: 500%;
  background-position: 60%;
  transition: background-size 0.18s;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  img {
    transition: unset;
  }
  &.navdark {
    background-size: 100%;
    transition: background-size 0.18s;
  }
}

#title {
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 1.5rem;
  text-decoration: none;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ascii-feature {
  display: flex;
  justify-content: center;
  align-items: end;
}

#rightcol {
  $hyphens: auto;
  -ms-hyphens: $hyphens;
  -webkit-hyphens: $hyphens;
  hyphens: $hyphens;
  padding: 0;
  padding-top: 1.3rem;
  padding-bottom: 3rem;

  &:has(.banner-img) {
    padding-top: 0;
  }
  .banner-img {
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .projectholder {
    ul {
      margin-left: 1.5rem;
    }
    main > :not(.container-fluid, .float-left, .float-right) {
      padding-left: 1.5rem;
      padding-right: 1.3rem;
    }
    pre {
      line-height: 1.05rem;
    }
    .zoom-img:not(.float-left, .float-right) {
      margin-bottom: 1rem;
    }
  }
  blockquote {
    margin: 0 3rem;
    padding: 0 !important;
    border-left: 5px $light solid;

    p {
      padding: 0 1rem;
    }
  }
  h1 + hr {
    margin: 0 $margin $margin;
    opacity: 1;
    width: 60%;
    max-width: 250px;
    border-top: 8px $primary solid;
  }
}

img {
  max-width: 100%;
}

a:not(:has(*)) {
  overflow: hidden;
  color: darken($accent, 10%);
  &:hover,
  &:focus {
    color: darken($accent, 40%);
  }
}

a:has(i, img, svg) {
  text-decoration: none;
  &:hover {
    color: $secondary;
  }
}

.brandholder {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    color: inherit;
  }
  p {
    margin: 0;
  }
}

@media print {
  .collapse {
    display: none;
  }
  .brandholder {
    color: #000;
    a {
      color: #000;
    }
  }
}

@include media-breakpoint-up(md) {
  #leftcol {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

@include media-breakpoint-down(md) {
  .brandholder {
    flex-grow: 0;
  }
  .hide-md {
    display: block;
  }

  $my-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;

  #leftcol {
    height: unset;
    z-index: 5;
    border: none;
    box-shadow: $my-shadow;
  }

  .navbar {
    border: none;
    box-shadow: $my-shadow;
  }

  #collapse-list {
    font-size: 1.25rem;
    padding-bottom: 1.3rem;
  }

  .collapse.show,
  .collapsing {
    background-color: $gray-100;
  }

  #title {
    margin-left: 0;
  }

  body {
    background: white;
  }
}
